<div class="page-header">
	<h1>Editing parental for <%= @member.full_name %></h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', member_parental_path(@member, @parental), role:'button', class:'btn btn-info' %>
<%= link_to 'Back', member_furloughs_path(@member),  role:'button', class:'btn btn-default' %>
