<div class="page-header">
<h1>Editing Time bank</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @time_bank, role:'button', class:'btn btn-info' %>
<%= link_to 'Back', time_banks_path,  role:'button', class:'btn btn-default' %>
