<div class="page-header">
<h1>Editing fee</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', fee_path(@fee), role:'button', class:'btn btn-info' %>
<%= link_to 'Back', fees_path,  role:'button', class:'btn btn-default' %>
